* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Null */
/* Mixin */
/* varabiles */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  background: #000;
}

._countainer {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: #0F0E0E;
}

.header__body {
  display: flex;
  align-items: center;
  padding: 14px 0px;
}

.header__logo {
  flex: 1 1 auto;
}
.header__logo img {
  width: 141px;
  height: 20px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__item a {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  color: #999;
  text-align: center;
}

.header__number {
  position: relative;
  right: 10px;
  bottom: 9px;
  width: 16px;
  height: 16px;
  padding: 1px 4px;
  background: #DCFF50;
}

.header__block-button {
  display: flex;
  flex: 1 1 48px;
  justify-content: flex-end;
}

.header__button {
  border-radius: 4px;
  background: #EAFF96;
  padding: 6px 8px 10px 8px;
  transition: all 0.6s;
}
.header__button a {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #151515;
  text-align: center;
}
.header__button:hover {
  transition: all 0.6s;
  background: rgba(234, 255, 150, 0.7333333333);
}

.main {
  flex: 1 1 auto;
}

/* SECTION-MAIN */
.ssection-main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 406px;
}

.section-main__img {
  margin: 32px 0px 152px 0px;
}
.section-main__img img {
  width: 1081px;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-main__block-title {
  text-align: center;
  margin-bottom: 341px;
}

.section-main__sub-title {
  font-family: "Inter";
  font-size: 35px;
  font-weight: 400;
  line-height: 108.571%;
  letter-spacing: 0.95px;
  color: #FFF;
  text-align: center;
  margin-bottom: 16px;
}

.section-main__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.6px;
  color: #FFF;
  text-align: center;
  margin-bottom: 31px;
}

.section-main__text {
  font-family: "Inter";
  font-size: 17px;
  font-weight: 400;
  line-height: 137.647%;
  color: #999;
  text-align: center;
  margin-bottom: 14px;
}

.section-main__button {
  border-radius: 4px;
  background: #EAFF96;
  padding: 6px 8px 10px 8px;
  transition: all 0.6s;
  padding: 12px;
}
.section-main__button a {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #151515;
  text-align: center;
}
.section-main__button:hover {
  transition: all 0.6s;
  background: rgba(234, 255, 150, 0.7333333333);
}
.section-main__button a {
  font-size: 16px;
}

.section-main__block-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 131px;
}

.section-main__column-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.14px;
}

.section-main__list {
  display: flex;
  gap: 33px;
  border-bottom: 1px solid #343434;
}

.section-main__item {
  width: 110px;
  padding-bottom: 12.86px;
  text-align: center;
  transition: all 0.7s;
}
.section-main__item a {
  font-family: "Inter";
  font-size: 17px;
  font-weight: 400;
  line-height: 137.647%;
  color: #999;
  text-align: center;
  line-height: normal;
  color: #FFF;
}
.section-main__item:hover {
  border-bottom: 1px solid #FFF;
  transition: all 0.7s;
}

.section-main__text-setup {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #FFF;
  text-align: center;
}

.section-main__img-setup img {
  width: 1024px;
  height: 577px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-info__body {
  display: flex;
  flex-direction: column;
}

.section-info__img {
  margin-bottom: 33px;
}
.section-info__img img {
  width: 1100px;
  height: 620px;
}

.section-info__block-text {
  text-align: center;
  margin-bottom: 157px;
}

.section-info__sub-title {
  font-family: "Inter";
  font-size: 35px;
  font-weight: 400;
  line-height: 108.571%;
  letter-spacing: 0.95px;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 1.9px;
  margin-bottom: 15px;
}
.section-info__sub-title span {
  font-family: "Inter";
  font-size: 35px;
  font-weight: 400;
  line-height: 108.571%;
  letter-spacing: 0.95px;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  line-height: normal;
  letter-spacing: 1.9px;
}

.section-info__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.6px;
  color: #FFF;
  text-align: center;
  font-size: 104px;
  line-height: 100%;
  letter-spacing: 2.6px;
  margin-bottom: 39px;
}

.section-info__text {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #FFF;
  text-align: center;
  line-height: 160%;
  color: #999;
  margin-bottom: 26px;
}

.section-info__more a {
  font-family: "Inter";
  font-size: 17px;
  font-weight: 400;
  line-height: 137.647%;
  color: #999;
  text-align: center;
  line-height: 169.412%;
  color: #DCFF50;
}

.section-info__screen img {
  width: 1100px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}