@mixin MEDIA-ALL {
	/* VARABILES-MEDIA */
	$media-notebook: 1110px;

	///////////// MEIDA-HEADER /////////////
	@media (max-width: $media-notebook) {
		.header__block-button {
			flex: 1 1 auto;
		}
	}

	@media (max-width: 1010px) {
		.header__list {
			gap: 30px;
		}
	}

	///////////// MEIDA-MAIN /////////////

	///////////// MEIDA-FOOTER /////////////
}