@mixin MEDIA-ALL {
	/* VARABILES-MEDIA */
	$media-notebook: 1110px;

	///////////// MEIDA-HEADER /////////////
	@media (max-width: $media-notebook) {
		.header__block-button {
			flex: 1 1 auto;
		}
	}

	@media (max-width: 1010px) {
		.header__list {
			gap: 30px;
		}
	}

	@media (max-width: 930px) {
		.header__list {
			display: none;
		}

		.header__number {
			position: absolute;
			top: -3px;
			right: -22px;
			width: 16px;
			height: 16px;
		}

		.Header__Burger {
			display: flex;
		}

		.header__block-button {
			flex: 0 0 0;
			margin-left: 15px;
		}
	}

	///////////// MEIDA-MAIN /////////////
	
	/* SECTION-MAIN */
	@media (max-width: $media-notebook) {
	}

	///////////// MEIDA-FOOTER /////////////
}