@mixin MEDIA-ALL {
	/* VARABILES-MEDIA */
	$media-notebook: 1110px;
	$media-tablet: 768px;
	$media-phone: 425px;

	///////////// MEIDA-HEADER /////////////
	@media (max-width: $media-notebook) {
		.header__block-button {
			flex: 1 1 auto;
		}
	}

	@media (max-width: 1010px) {
		.header__list {
			gap: 30px;
		}
	}

	@media (max-width: 930px) {
		.header__list {
			display: none;
		}

		.header__number {
			position: absolute;
			top: -3px;
			right: -22px;
			width: 16px;
			height: 16px;
		}

		.Header__Burger {
			display: flex;
		}

		.header__block-button {
			flex: 0 0 0;
			margin-left: 15px;
		}
	}

	///////////// MEIDA-MAIN /////////////
	
	/* SECTION-MAIN */
	@media (max-width: $media-notebook) {
	}

	@media (max-width: $media-tablet) {
		.section-main__sub-title {
			font-size: 25px;
		}

		.section-main__title {
			font-size: 40px;
		}

		.section-main__text {
			font-size: 15px;
		}

		.section-main__button {
			a {
				font-size: 14px;
			}
		}
	}

	@media (max-width: $media-phone) {
		.section-main__sub-title {
			font-size: 7vw;
		}

		.section-main__title {
			font-size: 9vw;
		}
	}

	/* SECTION-INFO */
	@media (max-width: $media-notebook) {
		.block-collaboration__block-column {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.block-experience__block-column {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.block-comments__block-column {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	///////////// MEIDA-FOOTER /////////////
}