////////////////// FONT //////////////////
@mixin h2 {
	font-family: 'Roboto';
	font-size: 64px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 1.6px;
	color: $white;
	text-align: center;
}

@mixin h3 {
	font-family: 'Roboto';
	font-size: 48px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 1.2px;
	color: $white;
	text-align: center;
}

@mixin h4 {
	font-family: 'Inter';
	font-size: 35px;
	font-weight: 400;
	line-height: 108.571%;
	letter-spacing: 0.95px;
	color: $white;
	text-align: center;
}

@mixin text-24px {
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0.3px;
	color: $white;
	text-align: center;
}

@mixin text-18px {
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 400;
	line-height: 160%;
	color: #FFF;
	text-align: center;
}

@mixin text-17px {
	font-family: 'Inter';
	font-size: 17px;
	font-weight: 400;
	line-height: 137.647%;
	color: $gray;
	text-align: center;
}

@mixin text-15px {
	@include text-17px;
	font-size: 15px;
	line-height: 170.667%;
}

@mixin text-16px {
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	color: #151515;
	text-align: center;
}

@mixin text-12px {
	font-family: 'Inter';
	font-size: 12px;
	font-weight: 400;
	color: $gray;
	text-align: center;
}

@mixin button {
	border-radius: 4px;
	background: #EAFF96;
	padding: 6px 8px 10px 8px;
	transition: all 0.6s;

	a {
		@include text-16px;
	}

	&:hover {
		transition: all 0.6s;
		background: #eaff96bb;
	}
}